# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset / large files
/Datasets/
data/

# Trained models
trained_model.keras
training_hist.json

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
